@import "bs_functions";

.opacity-0 {
  opacity: 0;
}

body {
  background: #fffcfc;
}

@include media-breakpoint-only(xs) {
  .header-logo {
    height: 80px !important;
  }

  .breadcrumb {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-down(lg) {
  .item {
    .img-thumbnail {
      max-height: 220px !important;
    }
  }
}

.position-sticky {
  top: 3rem;
  position:  -webkit-sticky !important;
}

.header-logo {
  height: 120px;
}

.main {
  margin-top: 15px;
}

.item {
  .img-thumbnail {
    max-height: 260px;
    min-width: 120px;
  }
}