
@font-face {
  font-family: 'iconfont';  /* project id 571365 */
  src: url('//at.alicdn.com/t/font_571365_3twj4p0nrbj1nhfr.eot');
  src: url('//at.alicdn.com/t/font_571365_3twj4p0nrbj1nhfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_571365_3twj4p0nrbj1nhfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_571365_3twj4p0nrbj1nhfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_571365_3twj4p0nrbj1nhfr.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:1.2rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-icon {
  color: white;
}